@font-face {
    font-family: Noto;
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto-light;
    src: url('../fonts/Noto_Sans/NotoSans-Light.ttf');
}

@font-face {
    font-family: Noto-Medium;
    src: url('../fonts/Noto_Sans/NotoSans-Medium.ttf');
}

@font-face {
    font-family: Noto-Bold;
    src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
    font-family: Noto-Thai;
    src: url('../fonts/Noto_Sans_Thai/NotoSansThai-Regular.ttf');
}

@font-face {
    font-family: Noto-Thai-Light;
    src: url('../fonts/Noto_Sans_Thai/NotoSansThai-Light.ttf');
}

@font-face {
    font-family: Noto-Thai-Medium;
    src: url('../fonts/Noto_Sans_Thai/NotoSansThai-Medium.ttf');
}

@font-face {
    font-family: Noto-Thai-Bold;
    src: url('../fonts/Noto_Sans_Thai/NotoSansThai-Bold.ttf');
}